<%= render "shared/header" %>
<div class='s-main'>
  <div class="s-wrapper">
      <% @items.each do |item| %>
        <li class='list'>
           <%= link_to item_path(item.id) do %>
            <div class='s-item-img-content'>
              <%= image_tag item.image, class: "item-img" %>
                <% if item.sold? %>
                 <div class='sold-out'>
                   <span>Sold Out!!</span>
                 </div>
                <% end %>
            </div>
            <div class='s-item-info'>
                <h3 class='item-name'>
                 <%= item.name %>
                </h3>
            <div class='item-price'>
                 <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </li>
    </div>
</div>
<%= render "shared/footer" %>